body {
    margin: 0;
    background-color: #41484c;
    width: 100%;
}

h1 {
    font-family: 'Alegreya', serif;
    font-size: 7em;
    font-weight: 800;
    color: #d3b58e;
    padding-top: 50px;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    /*    color: #0c1e2a;*/
}

/* <!----DROPDOWN MENU START ---->*/

a {
    text-decoration: none;
    color: #693e3e;
    transition: color 0.3s ease;
    padding: 20px;
}

a:hover {
    color: rgba(145, 204, 201, 0.99);
}

.navigation {
    position: fixed;
    background: rgba(226, 223, 223, 0.71);
    width: 100vw;
    padding: 40px;
    z-index: 100;
}

.navigation nav {
    font-size: 1.5em;
    text-align: center;
    margin: 0 2vw 0 0;
}

.navigation nav a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 70px;
    display: block;
}

.navigation img {
    /*    border-radius: 40px;*/
    width: 5%;
    background-color: rgba(255, 228, 196, 0.52);

}

.navigation img:hover {
    width: 6%;
}



/* <!----DROPDOWN MENU SLUT ---->*/

/*----------Portfolio START----------*/

.webdesign,
.animation,
.video,
.ux {
    flex-grow: 1;
    flex-basis: 350px;
    font-size: 1.2em;
    padding: 20px 0px;
    background-color: rgba(145, 204, 201, 0.82);
    background-image: url(img/Shape.png);
    background-size: 2%;
    text-align: center;
    margin: 15px;
}

#baggrund1 {
    background-image: url(img/IMG2.jpg);
    background-size: cover;
    width: 100vw;
    height: 70vw;
    text-align: center;

}

/*----------Portfolio SLUT----------*/

/* <!----WEBDESIGN START ---->*/

#web {
    margin: 0;
    background-color: rgba(171, 252, 243, 0.17);
    padding: 20px;
    text-align: center;
}

#web a:hover {
    color: rgba(208, 59, 24, 0.81);
}


#baggrund {
    background-image: url(img/IMG3.jpg);
    background-size: cover;
    width: 100vw;
    height: 70vw;
    text-align: center;

}

#baggrund h1 {

    padding-top: 50px;


}

.arts_and_crafts {
    padding: 20px;
    background-color: rgba(154, 142, 245, 0.29);
    background-image: url(img/IMG3-assets/Shape.png);
    background-size: 1%;


}

.arts_and_crafts img {
    width: 10%;

}

.proces {
    padding: 20px;
    background-color: rgba(131, 164, 80, 0.87);
    background-image: url(img/IMG3-assets/Shape.png);
    background-size: 19%;


}

#web .column_tekst {
    background-color: #e8fafa;


}

/* <!----WEBDESIGN SLUT---->*/

/* <!----ANIMATION START ---->*/

#animation {
    background-size: cover;
    padding: 20px;
    text-align: center;

}

#bagrund4 {
    background-image: url(img/face.jpg);
    background-size: cover;
    width: 100%;
    height: 70vw;
    text-align: center;

}

.en_pige_med_fisk {
    background-color: #cdc6c0;
    padding: 20px;
    background-image: url(img/linjer.svg);
    background-size: 20%;
    margin-top: 10px;
}

.en_pige_med_fisk img {
    width: 80%
}

.proces1 {
    background-color: rgba(242, 197, 143, 0.89);
    padding: 20px;
    background-image: url(img/linjer.svg);
    background-size: 150%;

}

.sex_og_samfund {
    background-color: #cdc6c0;
    padding: 20px;
    background-image: url(img/linjer.svg);
    background-size: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sex_og_samfund img {
    width: 60%
}

.proces2 {
    background-color: rgba(242, 197, 143, 0.89);
    padding: 20px;
    background-image: url(img/linjer.svg);
    background-size: 150%;
}

#animation a:hover {
    color: #932309;
}

#animation a {
    color: #264e6c;
}

/* <!----ANIMATION SLUT ---->*/

/* <!----VIDEO START ---->*/

#video {
    padding: 20px;
    text-align: center;
}

#bagrund2 {
    text-align: center;

}

.virksomhed {
    background-color: rgba(94, 159, 155, 0.82);
    background-image: url(img/indk%C3%B8bsvogn.svg);
    background-size: 2%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.cph_dox {
    background-color: rgba(242, 197, 143, 0.89);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.proces3 {}

.proces4 {}

.redesignprojekt {
    background-image: url(img/indk%C3%B8bsvogn.svg);
    background-size: 7%;
    background-color: rgba(145, 204, 201, 0.82);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.redesignprojekt img {
    width: 15%;

}

.proces5 {
    background-color: rgba(242, 197, 143, 0.89);
    padding: 20px;

}

/* <!----VIDEO SLUT ---->*/

/* <!----UX START ---->*/

#ux {
    padding: 20px;
    text-align: center;
}

#ux a {
    color: #0c1e2a;
}

#ux a:hover {
    color: #671323;
}

.kea_skema {
    background-color: #847e72;
    background-image: url(img/Shape3.png);
    background-size: 5%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.kea_skema img {
    width: 15%;

}

.proces6 {
    background-color: #82321b;
    padding: 20px;

}

.republiken {
    background-color: #cecac1;
    padding: 20px;
    background-image: url(img/Shape3.png);
    background-size: 30%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.republiken img {
    width: 15%;
}

.proces7 {
    background-color: #82321b;
    padding: 20px;

}

#baggrund3 {
    background-image: url(img/IMG6.jpg);
    background-size: cover;
    width: 100vw;
    height: 70vw;
    text-align: center;


}

/* <!----UX SLUT ---->*/
